{% load static %}
{% load i18n %}

<div class='d-display'>
  <div class='d-details faq-content'>
    <details class='tab-control'>
      <summary>{% trans 'What is cryptocurrency?' %}</summary>
      <p>{% trans 'Cryptocurrency is a type of digital or virtual currency that uses cryptography for security. It operates independently of a central bank.' %}</p>
    </details>
    <details class='tab-control'>
      <summary>{% trans 'What is cryptocurrency used for?' %}</summary>
      <p>{% trans 'Cryptocurrency can be used for a variety of purposes, including online purchases, investment, and as a means of transferring value between parties.' %}</p>
    </details>
    <details class='tab-control'>
      <summary>{% trans 'How can I buy cryptocurrency?' %}</summary>
      <p>{% trans 'You can buy cryptocurrency on various online exchanges using traditional currency or other cryptocurrencies.' %}</p>
    </details>
  </div>
</div>
