{% load static %}
{% load i18n %}
{% load poll_extras %}
{% for coin in coins %}
    <tr>
        <td>
            <span class="table-coins__number {{ listing.slug }}-numbers"></span>
        </td>
        <td class="table-coins_second-td">
            <div class="table-coins__coin">
                <div class="table-coins__coin--avatar">
                    <picture>
                        <source srcset="{{ coin.photo_coin.url }}" type="image/webp">
                        <img src="{{ coin.photo_coin.url }}" alt="" width="32" height="32"
                             loading="lazy">
                    </picture>
                </div>
            </div>
        </td>
        <td class="table-coins_third-td">
            <a href="{{ coin.get_absolute_url }}"><h3 class="table-coins__coin--name">{{ coin.coin_name }}</h3></a>
                <span class="table-coins__coin--abbreviation">{{ coin.coin_symbol }}</span>
        </td>
        <td>
            {{ coin.category.name }}
        </td>
        <td>
            <span class="table-coins__chain">
            <img src="{{ coin.network_chain.photo.url }}" width="20" height="20" alt="">
            <b>{{ coin.network_chain.name }}</b>
            </span>
        </td>
        <td> {% if coin.price_24h > 0 %}
            <b class="table-coins__value grow-value">
                <svg width="16" height="16" viewBox="0 0 16 16">
                    <use xlink:href="{% static 'img/sprites.svg' %}#arrow-grow"></use>
                </svg>
                {{ coin.price_24h|floatformat:2 }}%
            </b>
        {% elif coin.price_24h < 0 %}
            <b class="table-coins__value danger-value">
                <svg width="16" height="16" viewBox="0 0 16 16">
                    <use xlink:href="{% static 'img/sprites.svg' %}#arrow-drop"></use>
                </svg>
                {{ coin.price_24h|floatformat:2 }}%
            </b>
        {% else %}
            ---
        {% endif %}
        </td>
        <td>
            {% if coin.price %}
                ${{ coin.price|normalize_amount }}
            {% else %}
                ---
            {% endif %}
        </td>
        <td>
            {% if coin.market_cap %}
                ${{ coin.market_cap|normalize_amount }}
            {% else %}
                ---
            {% endif %}
        </td>
        {% if listing.slug == 'new-listings' %}
            <td>
                {{ coin.publish_date|time_since }}
            </td>
        {% endif %}
        <td>
            <a {% if not user.is_authenticated %}href="#authorization-popup"{% endif %}
               class="vote-btn {% if coin not in user.vote_coins.all %}canVote{% endif %} btn {% if not user.is_authenticated %}open-popup{% endif %}"
               type="button" data-coin-pk="{{ coin.pk }}">
                <div class="arrow">
                    <svg width="10" height="14" viewBox="0 0 10 14">
                        <use xlink:href="{% static 'img/sprites.svg' %}#arrow-to-up"></use>
                    </svg>
                </div>
                <p class="votes-btn-cnt">
                    {% if listing.slug == 'today-s-best' %}{{ coin.votes_today }}{% else %}{{ coin.votes }}{% endif %}
                </p>
            </a>
        </td>
        <td>
            {% if user.is_authenticated %}
                <form class="favorite_ajax{{ listing.id }}" action="{% url 'user:add_favorite' pk=coin.pk %}"
                      method="GET">
                    <input type="hidden" name="previous_page" value="{{ request.path }}">
                    <button class="table-coins__favorite favorite-btn {% if user in coin.favorite.all %}_active{% endif %}"
                            title="Add to favorite"
                            type="submit">
                        <svg width="20" height="20" viewBox="0 0 20 20">
                            <use xlink:href="{% static 'img/sprites.svg' %}#star"></use>
                        </svg>
                    </button>
                </form>
            {% else %}
                <a href="#authorization-popup" class="open-popup">
                    <button class="table-coins__favorite favorite-btn ignore-toggle {% if user in coin.favorite.all %}_active{% endif %}"
                            title="Add to favorite"
                            type="submit">
                        <svg width="20" height="20" viewBox="0 0 20 20">
                            <use xlink:href="{% static 'img/sprites.svg' %}#star"></use>
                        </svg>
                    </button>
                </a>
            {% endif %}
        </td>
    </tr>

{% endfor %}

{% if user.is_authenticated %}
    <script type="text/javascript">
        $('.favorite_ajax{{listing.id}}').on('submit', function (e) {
            e.preventDefault();

            var form = $(this);
            var actionUrl = form.attr('action');

            $.ajax({
                type: "GET",
                url: actionUrl,
                data: form.serialize(),
                success: function (data) {
                    // sendFormAjax($("#{{listing.slug}}-form"), '{{listing.slug}}');
                }
            });
        });
    </script>
{% endif %}
<script type="text/javascript">
    var page = '{{coins.number}}';

    if (page == '') {
        page = 1;
    } else {
        page = parseInt(page);
    }
    $('.table-coins__number.{{listing.slug}}-numbers').each(function (index) {
        $(this).text((page - 1) * 30 + (index + 1));
    });
</script>