.preloader {
    background-color: #fff
}

.logo-preloader {
    content: url('../img/yo-yo-light.png')
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999
}

.logo-preloader {
    max-width: 80px;
    height: auto;
    animation: 2s linear infinite spinOnly
}

@keyframes spinOnly {
    0% {
        transform: rotate(0)
    }
    25% {
        transform: rotate(90deg)
    }
    50% {
        transform: rotate(180deg)
    }
    75% {
        transform: rotate(270deg)
    }
    100% {
        transform: rotate(360deg)
    }
}