{% extends 'base.html' %}
{% load i18n %}
{% load l10n %}
{% load poll_extras %}

{% block title %}
    <title>{{ coin.coin_name }} ({{ coin.coin_symbol }}): {{ coin.market_cap }} </title>
{% endblock %}

{% block description %}
    <meta name="description" content="{{ coin.description_seo }}">
{% endblock %}

{% block head %}
    <meta property="og:title"
          content="{% if coin.coin_name %}{{ coin.coin_name|striptags|truncatechars:50 }}{% endif %}"/>
    <meta property="og:description"
          content="{% if coin.coin_description %}{{ coin.coin_description|striptags|truncatechars:160 }}{% endif %}"/>
    <meta property="og:image" content="{% if coin.image_url %}{{ coin.image_url.url }}{% endif %}"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:site_name" content="CoinYoYo"/>
    <meta property="og:type" content="website"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-crosshair@2.0.0/dist/chartjs-plugin-crosshair.min.js"></script>
{% endblock %}

{% load static %}
{% block content %}
    <main class="main">
        <section class="coin">
            <div class="hero-banner container">
                <div class="hero-banner__bg">
                    <picture class="hero__bg-picture-dark">
                        <source data-srcset="{% static 'img/index/hero/bg.webp' %}" type="image/webp"
                                media="(min-width: 550px)">
                        <source data-srcset="{% static 'img/index/hero/bg-mob-2.webp' %}" type="image/webp">
                        <img data-src="{% static 'img/index/hero/bg.png' %}" alt="" width="0" height="0" class="lazy">
                    </picture>
                    <picture class="hero__bg-picture-light">
                        <source data-srcset="{% static 'img/index/hero/bg-light.webp' %}" type="image/webp"
                                media="(min-width: 550px)">
                        <source data-srcset="{% static 'img/index/hero/bg-light.webp' %}" type="image/webp">
                        <img data-src="{% static 'img/index/hero/bg-light.png' %}" alt="" width="0" height="0"
                             class="lazy">
                    </picture>
                </div>
                <div class="hero-banner__page-address page-address">
                    <ul>
                        <li>
                            <a href="{% url 'core:index' %}">
                                {% trans "Home" %}
                            </a>
                        </li>
                        <li>
                            <svg width="16" height="16" viewBox="0 0 16 16">
                                <use xlink:href="{% static 'img/sprites.svg' %}#arrow-next"></use>
                            </svg>
                        </li>
                        <li>
                            <a href="#">
                                {% trans "Coin page" %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="coin__container container">
                <div class="coin__header">
                    <div class="coin__avatar">
                        <picture>
                            <source srcset="{{ coin.photo_coin.url }}" type="image/webp">
                            <img src="{{ coin.photo_coin.url }}" alt="" width="185" height="185" loading="lazy">
                        </picture>
                    </div>
                    <div class="coin__header-info">
                        <h1 class="coin__title title">
                            {{ coin.coin_name }}
                        </h1>
                        <span class="coin__name">
							{{ coin.coin_symbol }}
						</span>
                        <span class="coin__category name-section">
							{{ coin.category }}
						</span>
                    </div>
                    <div class="coin__vote">
                        <span class="coin__vote--today">Today's Vote: {{ coin.votes_today }}</span>
                        <td>
                            <a {% if not user.is_authenticated %}href="#authorization-popup"{% endif %}
                               class="vote-btn {% if coin not in user.vote_coins.all %}canVote{% endif %} btn {% if not user.is_authenticated %}open-popup{% endif %}"
                               type="button" data-coin-pk="{{ coin.pk }}">
                                <div class="arrow">
                                    <svg width="10" height="14" viewBox="0 0 10 14">
                                        <use xlink:href="{% static 'img/sprites.svg' %}#arrow-to-up"></use>
                                    </svg>
                                </div>
                                <p class="votes-btn-cnt">
                                    {% if listing.slug == 'today-s-best' %}{{ coin.votes_today }}{% else %}
                                        {{ coin.votes }}{% endif %}
                                </p>
                            </a>
                    </div>
                </div>
                <div class="coin__main">
                    <div class="coin__info-header">
                        <div class="coin__chart-header">
                            <div class="coin__tab-container">
                                <div class="coin__tabs market_price">
                                    <button class="coin__tab market_price active" data-index="0">
                                        {% trans 'Review' %}
                                    </button>
                                    <button class="coin__tab market_price" data-index="1">
                                        {% trans 'Market' %}
                                    </button>
                                    <div class="coin__slider"></div>
                                </div>
                            </div>
                            <div class="coin__tab-container-prices" id="coin__tab-container-history_price">
                                <button class="coin__tab history_price active" data-period="24h"
                                        data-coin-api-id="{{ coin.uuid }}" data-coin-api-type="{{ coin.api }}">
                                    {% trans '24h' %}
                                </button>
                                <button class="coin__tab history_price" data-period="7d"
                                        data-coin-api-id="{{ coin.uuid }}" data-coin-api-type="{{ coin.api }}">
                                    {% trans '7d' %}
                                </button>
                                <button class="coin__tab history_price" data-period="30d"
                                        data-coin-api-id="{{ coin.uuid }}" data-coin-api-type="{{ coin.api }}">
                                    {% trans '1m' %}
                                </button>
                                <button class="coin__tab history_price" data-period="3m"
                                        data-coin-api-id="{{ coin.uuid }}" data-coin-api-type="{{ coin.api }}">
                                    {% trans '3m' %}
                                </button>
                                <button class="coin__tab history_price" data-period="1y"
                                        data-coin-api-id="{{ coin.uuid }}" data-coin-api-type="{{ coin.api }}">
                                    {% trans '1y' %}
                                </button>
                                <button class="coin__tab history_price all_time" data-period="all"
                                        data-coin-api-id="{{ coin.uuid }}" data-coin-api-type="{{ coin.api }}">
                                    {% trans 'Max' %}
                                </button>
                            </div>
                        </div>
                        <div class="coin__info-details--price-wrapper">
                            <div class="coin__info-details--logo-wrapper">
                                <div class="coin__info-details--logo">
                                    <img src="{{ coin.photo_coin.url }}" alt="Coin logo"
                                         class="coin__info--logo">
                                    <div class="coin__info--title-wrapper">
                                        <h3 class="coin__info--title">
                                            {{ coin.coin_name }}
                                        </h3>
                                        <h3 class="coin__info--name">
                                            {{ coin.coin_symbol }}
                                        </h3>
                                    </div>
                                </div>
                                <div class="splitter"></div>
                                <div class="coin__info-details--price">
                                    <div>
                                        <span class="coin__price">${% if coin.price %}
                                            {{ coin.price|normalize_amount }}{% else %}--{% endif %}</span>
                                    </div>
                                    <div class="coin__price-change-wrapper">
                                        {% if coin.price_24h > 0 %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="7" fill="none">
                                                <use xlink:href="{% static 'img/sprites.svg' %}#coinPriceChangeUpSymbol"></use>
                                            </svg>
                                            <span class="coin__price-change rise">
                                                {{ coin.price_24h }}%
                                            </span>
                                        {% elif coin.price_24h < 0 %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="7" fill="none">
                                                <use xlink:href="{% static 'img/sprites.svg' %}#coinPriceChangeDownSymbol"></use>
                                            </svg>
                                            <span class="coin__price-change fall">
                                                {{ coin.price_24h }}%
                                            </span>
                                        {% else %}
                                            --
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="coin__price-range">
                                <div class="progress-container">
                                    <div class="progress-bar" id="progressBar"
                                         data-current-price="{{ coin.price }}"></div>
                                </div>
                                <div class="price-labels">
                                    <span id="todayLowPrice"></span>
                                    <span>
                                        {% trans 'Range in 24hr.' %}</span>
                                    <span id="todayHighPrice"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="coin__info">
                        <div class="coin__info-chart">
                            <div class="coin__chart">
                                <div class="coin__chart-wrapper period">
                                    <canvas id="coinChartHistoryPrice"></canvas>
                                </div>
                                <div>
                                    <canvas id="coinChartAllHistoryPrice"></canvas>
                                </div>
                            </div>
                            <div class="coin__trading--coin__info visually-hidden">
                                {% if coin.exchanges.exists %}
                                    <div class="coin__trading--inner--coin__info">
                                        <ol class="coin__trading--list">
                                            {% for coin_exchange in coin.exchanges.all %}
                                                <li class="coin__trading-item">
                                                    <a href="{{ coin_exchange.url }}" class="coin__trading-item-link"
                                                       target="_blank">
                                                        <img src="{{ coin_exchange.exchange.logo.url }}"
                                                             alt="{{ coin_exchange.exchange.name }} logo"
                                                             class="coin__trading-item-logo">
                                                        <h4 class="coin__trading-item-name">{{ coin_exchange.exchange.name }}</h4>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ol>
                                    </div>
                                {% else %}
                                    --
                                {% endif %}
                            </div>
                        </div>
                        <div class="coin__info-details">
                            <div class="coin__info--details-info coin__info--details-container">
                                <div class="coin__info--details-info-item">
                                    <h2>{% trans 'Price to USD' %}</h2>
                                    <p>${% if coin.price %}{{ coin.price|normalize_amount }}{% else %}--{% endif %}</p>
                                </div>
                                <div class="coin__info--details-info-item">
                                    <h2>{% trans '24h volume' %}</h2>
                                    <div class="coin__info--details-warning">
                                        <p>${% if coin.volume_24h %}{{ coin.volume_24h|normalize_amount }}{% else %}
                                            --{% endif %}</p>
                                    </div>
                                </div>
                                <div class="coin__info--details-info-item">
                                    <h2>{% trans 'Market cap' %}</h2>
                                    <p>${% if coin.market_cap %}{{ coin.market_cap|normalize_amount }}{% else %}
                                        --{% endif %}</p>
                                </div>
                                <div class="coin__info--details-info-item">
                                    <h2>{% trans 'Volume / Market cap' %}</h2>
                                    <div class="coin__info--details-warning">
                                        <p>
                                            {% if coin.market_cap > 0 %}
                                                {{ coin.volume_24h|divide:coin.market_cap|normalize_amount }}
                                            {% else %}
                                                --
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                                <div class="coin__info--details-info-item">
                                    <h2>{% trans 'Fully diluted market cap' %}</h2>
                                    <p>${% if coin.fully_diluted_market_cap %}
                                        {{ coin.fully_diluted_market_cap|normalize_amount }}{% else %}--{% endif %}</p>
                                </div>
                                <div class="coin__info--details-info-item all-time-high">
                                    <h2>{% trans 'All-time high' %}</h2>
                                    {% if coin.all_time_high %}
                                        <p>${{ coin.all_time_high|normalize_amount }} <br>
                                            <span>{% trans 'on' %} {{ coin.all_time_high_date|date:"n/j/Y" }}</span>
                                        </p>
                                    {% else %}
                                        <p>--</p>
                                    {% endif %}
                                </div>
                                <div class="coin__info--details-info-item">
                                    {% if coin.network_name %}
                                        <h2>{{ coin.network_name }}</h2>
                                        <div class="coin__chain--address">
                                            <label>
                                                <input type="text" name="wallet" id="chain" readonly
                                                       value="{{ coin.contract_address }}" class="visually-hidden2">
                                                {% if coin.contract_address %}
                                                    <span>{{ coin.contract_address|slice:":4" }}...{{ coin.contract_address|slice:"-4:" }}</span>
                                                {% else %}
                                                    <span>--</span>
                                                {% endif %}
                                            </label>
                                            <button type="button" title="Copy" data-clipboard-target="#chain">
                                                <svg width="16" height="16" viewBox="0 0 16 16">
                                                    <use xlink:href="{% static 'img/sprites.svg' %}#copy"></use>
                                                </svg>
                                            </button>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="coin__info--details-converter coin__info--details-container">
                                <h2>{% trans 'Converter' %} {{ coin.coin_symbol }}</h2>
                                <div class="coin__converter-block">
                                    <div class="coin__converter-item from">
                                        <input type="text" id="coin__converter-from" value="1"
                                               data-coin-price-usd="{{ coin.price }}"
                                               data-coin-price-currency-to-usd="1"
                                        >
                                        <label for="coin__converter-from"
                                               id="converter-crypto-symbol">{{ coin.coin_symbol }}</label>
                                    </div>
                                    <div class="coin__converter-item to">
                                        <input type="text" id="coin__converter-to" value="{{ coin.price }}">
                                        <label for="coin__converter-to" id="currency-label">
                                            <span id="current-currency">USD</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" fill="none">
                                                <use xlink:href="{% static 'img/sprites.svg' %}#expandMenu"></use>
                                            </svg>
                                        </label>
                                        <div id="currency-dropdown" class="currency-dropdown">
                                            {% if reference_currencies %}
                                                <ul>
                                                    {% for currency in reference_currencies %}
                                                        <li class="currency-item {% if currency.symbol == 'USD' %}selected{% endif %}"
                                                            data-currency-symbol="{{ currency.symbol }}"
                                                            data-currency-price-to-usd="{{ currency.price_to_usd }}">
                                                            {{ currency.symbol }}
                                                            {% if currency.name %}
                                                                - {{ currency.name }}
                                                            {% endif %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="coin__info--details-links">
                                <div class="coin__social">
                                    <ul>
                                        {% if coin.website_link %}
                                            <li>
                                                <a href="{{ coin.website_link }}" target="_blank">
                                                    <svg>
                                                        <use xlink:href="{% static 'img/sprites.svg' %}#link"></use>
                                                    </svg>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if coin.twitter_link %}
                                            <li>
                                                <a href="{{ coin.twitter_link }}" target="_blank">
                                                    <svg>
                                                        <use xlink:href="{% static 'img/sprites.svg' %}#twitter"></use>
                                                    </svg>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if coin.telegram_link %}
                                            <li>
                                                <a href="{{ coin.telegram_link }}" target="_blank">
                                                    <svg>
                                                        <use xlink:href="{% static 'img/sprites.svg' %}#telegram"></use>
                                                    </svg>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if coin.discord_link %}
                                            <li>
                                                <a href="{{ coin.discord_link }}" target="_blank">
                                                    <svg>
                                                        <use xlink:href="{% static 'img/sprites.svg' %}#discord"></use>
                                                    </svg>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if coin.reddit_link %}
                                            <li>
                                                <a href="{{ coin.reddit_link }}" target="_blank">
                                                    <svg>
                                                        <use xlink:href="{% static 'img/sprites.svg' %}#reddit"></use>
                                                    </svg>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="coin__trading">
                        {% if coin.exchanges.exists %}
                            <div class="coin__trading--inner">
                                <h3 class="coin__trading-title">{% trans 'Exchanges' %}</h3>
                                <ol class="coin__trading--list">
                                    {% for coin_exchange in coin.exchanges.all %}
                                        <li class="coin__trading-item">
                                            <a href="{{ coin_exchange.url }}" class="coin__trading-item-link"
                                               target="_blank">
                                                <img src="{{ coin_exchange.exchange.logo.url }}"
                                                     alt="{{ coin_exchange.exchange.name }} logo"
                                                     class="coin__trading-item-logo">
                                                <h4 class="coin__trading-item-name">{{ coin_exchange.exchange.name }}</h4>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ol>
                            </div>
                            <div class="coin__trading--inner">
                                <h3 class="coin__trading-title">{% trans 'Markets' %}</h3>
                                <ol class="coin__trading--list">
                                    {% for coin_exchange in coin.exchanges.all %}
                                        <li class="coin__trading-item">
                                            <a href="{{ coin_exchange.url }}" class="coin__trading-item-link"
                                               target="_blank">
                                                <img src="{{ coin_exchange.exchange.logo.url }}"
                                                     alt="{{ coin_exchange.exchange.name }} logo"
                                                     class="coin__trading-item-logo">
                                                <h4 class="coin__trading-item-name">{{ coin_exchange.exchange.name }}</h4>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ol>
                            </div>
                        {% endif %}
                    </div>
                    <div class="coin__descr">
                        <h3 class="coin__descr--title">
                            <svg width="16" height="16" viewBox="0 0 18 18" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M3.54539 2.03433C3.77443 1.80993 4.09601 1.66362 4.70327 1.58363C5.32839 1.50129 6.1569 1.5 7.34483 1.5H10.6552C11.8431 1.5 12.6716 1.50129 13.2967 1.58363C13.904 1.66362 14.2256 1.80993 14.4546 2.03433C14.6837 2.25873 14.833 2.57379 14.9146 3.16875C14.9987 3.78119 15 4.59291 15 5.75676V11.6351L5.50922 11.6351C4.83229 11.6349 4.37037 11.6347 3.97424 11.7387C3.62005 11.8317 3.29151 11.9836 3 12.1832V5.75676C3 4.59291 3.00132 3.78119 3.08536 3.16875C3.16701 2.57379 3.31634 2.25873 3.54539 2.03433ZM5.68966 4.33784C5.34686 4.33784 5.06897 4.6101 5.06897 4.94595C5.06897 5.28179 5.34686 5.55405 5.68966 5.55405H12.3103C12.6531 5.55405 12.931 5.28179 12.931 4.94595C12.931 4.6101 12.6531 4.33784 12.3103 4.33784H5.68966ZM5.06897 7.78378C5.06897 7.44793 5.34686 7.17568 5.68966 7.17568H9.82759C10.1704 7.17568 10.4483 7.44793 10.4483 7.78378C10.4483 8.11963 10.1704 8.39189 9.82759 8.39189H5.68966C5.34686 8.39189 5.06897 8.11963 5.06897 7.78378Z"
                                      fill="#4E535C"/>
                                <path d="M5.60506 12.8514C4.79546 12.8514 4.51243 12.8566 4.29553 12.9135C3.70023 13.0698 3.22566 13.5033 3.02214 14.0668C3.03472 14.3537 3.05445 14.606 3.08536 14.8313C3.16701 15.4262 3.31634 15.7413 3.54539 15.9657C3.77443 16.1901 4.09601 16.3364 4.70327 16.4164C5.32839 16.4987 6.1569 16.5 7.34483 16.5H10.6552C11.8431 16.5 12.6716 16.4987 13.2967 16.4164C13.904 16.3364 14.2256 16.1901 14.4546 15.9657C14.6171 15.8065 14.7394 15.6017 14.826 15.2838H5.68966C5.34686 15.2838 5.06897 15.0115 5.06897 14.6757C5.06897 14.3398 5.34686 14.0676 5.68966 14.0676H14.9778C14.9932 13.7181 14.9979 13.3173 14.9994 12.8514H5.60506Z"
                                      fill="#4E535C"/>
                            </svg>
                            {% trans "Description" %}
                        </h3>
                        <div class="coin__descr--text">
                            <p>
                                {{ coin.coin_description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% with promoted as listing %}
            {% include 'include/full_coin_table.html' %}
        {% endwith %}

    </main>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/coin_page.min.js' %}"></script>
    <script type="application/ld+json">
        {
          "@context": "https://schema.org/",
          "@type": "Product",
          "name": "{{ coin.coin_name }}",
      "image": [
        "{{ coin.photo_coin.url }}"
      ],
      "description": "{{ coin.coin_description|striptags }}",
      "sku": "{{ coin.coin_symbol }}",
      "brand": {
        "@type": "Brand",
        "name": "{{ coin.coin_name }}"
      },
      "offers": {
        "@type": "Offer",
        "url": "{{ request.build_absolute_uri }}",
        "priceCurrency": "USD",
        "price": "{{ coin.price|normalize_amount }}",
        "itemCondition": "https://schema.org/NewCondition",
        "availability": "https://schema.org/InStock"
      },
      "additionalProperty": [
        {
          "@type": "PropertyValue",
          "name": "Market Capitalization",
          "value": "${{ coin.market_cap|normalize_amount }}"
        },
        {
          "@type": "PropertyValue",
          "name": "Trade Volume",
          "value": "${{ coin.volume_24h|normalize_amount }}"
        },
        {
          "@type": "PropertyValue",
          "name": "All Time High",
          "value": "${{ coin.all_time_high|normalize_amount }}"
        },
        {
          "@type": "PropertyValue",
          "name": "Votes",
          "value": "⇧ {{ coin.votes }}"
        },
        {
          "@type": "PropertyValue",
          "name": "Votes Today",
          "value": "⇧ {{ coin.votes_today }}"
        }
      ]
    }
    </script>
{% endblock %}