{% extends 'base.html' %}

{% load i18n %}

{% block title %}
    <title>{{ page.title_seo }}</title>
{% endblock %}

{% block description %}
<meta name="description" content="{{ page.description_seo }}">
{% endblock %}

{% block head %}
    <meta property="og:title" content="{% if page.title %}{{ page.title|striptags|truncatechars:50 }}{% endif %}"/>
    <meta property="og:description"
          content="{% if page.description %}{{ page.description|striptags|truncatechars:160 }}{% endif %}"/>
    <meta property="og:image" content="{% if page.image_url %}{{ page.image_url.url }}{% endif %}"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:site_name" content="CoinYoYo"/>
    <meta property="og:type" content="website"/>
{% endblock %}

{% load static %}
{% block content %}

<style type="text/css">
    .text-section__container li::before {
        counter-increment: none !important;
        content: none !important;
    }
</style>

<main class="main">
    <section class="text-section">
        <div class="hero-banner container _min">
            <div class="hero-banner__bg">
                <picture class="hero__bg-picture-dark">
                    <source data-srcset="{% static 'img/index/hero/bg.webp' %}" type="image/webp"
                            media="(min-width: 550px)">
                    <source data-srcset="{% static 'img/index/hero/bg-mob-2.webp' %}" type="image/webp">
                    <img data-src="{% static 'img/index/hero/bg.png' %}" alt="" width="0" height="0" class="lazy">
                </picture>
                <picture class="hero__bg-picture-light">
                    <source data-srcset="{% static 'img/index/hero/bg-light.webp' %}" type="image/webp"
                            media="(min-width: 550px)">
                    <source data-srcset="{% static 'img/index/hero/bg-light.webp' %}" type="image/webp">
                    <img data-src="{% static 'img/index/hero/bg-light.png' %}" alt="" width="0" height="0" class="lazy">
                </picture>
            </div>
            <div class="hero-banner__header">
                <div class="hero-banner__page-address page-address">
                    <ul>
                        <li>
                            <a href="{% url 'core:index' %}">
                                {% trans "Home" %}
                            </a>
                        </li>
                        <li>
                            <svg width="16" height="16" viewBox="0 0 16 16">
                                <use xlink:href="{% static 'img/sprites.svg#arrow-next' %}"></use>
                            </svg>
                        </li>
                        <li>
                            <a href="#">
                                {{page.title_seo}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <h1 class="hero-banner__title title">
                {{ page.title|safe }}
            </h1>
        </div>
        <div class="text-section__container container">
            <p>
                {{ page.description|safe }}
            </p>
        </div>
    </section>
</main>

{% endblock %}