{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>{{ page.title_seo }}</title>
    {% endblock %}

    <link rel="shortcut icon" href="{% static 'img/favicon.svg' %}">
    <link rel="stylesheet" href="{% static 'css/preloader.css' %}">
    <script src="{% static 'js/preloader.min.js' %}"></script>
    {% block description %}
        <meta name="description" content="{{ page.description_seo }}">
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Organization",
          "url": "https://coinyoyo.io",
          "logo": "https://coinyoyo.io/static/img/favicon.svg"
        }
    </script>

    <!-- JSON-LD Structured Data: FAQPage -->
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "FAQPage",
          "mainEntity": [
            {
              "@type": "Question",
              "name": "{% trans 'What is cryptocurrency?' %}",
              "acceptedAnswer": {
                "@type": "Answer",
                "text": "{% trans 'Cryptocurrency is a type of digital or virtual currency that uses cryptography for security. It operates independently of a central bank.' %}"
              }
            },
            {
              "@type": "Question",
              "name": "{% trans 'What is cryptocurrency used for?' %}",
              "acceptedAnswer": {
                "@type": "Answer",
                "text": "{% trans 'Cryptocurrency can be used for a variety of purposes, including online purchases, investment, and as a means of transferring value between parties.' %}"
              }
            },
            {
              "@type": "Question",
              "name": "{% trans 'How can I buy cryptocurrency?' %}",
              "acceptedAnswer": {
                "@type": "Answer",
                "text": "{% trans 'You can buy cryptocurrency on various online exchanges using traditional currency or other cryptocurrencies.' %}"
              }
            }
          ]
        }
    </script>

    <style>

        .image-body {
            width: 100%;
            position: relative;
        }

        .image-body img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .lazy {
            opacity: 0;
        }

        .lazy.loaded {
            opacity: 1;
        }

        @media (min-width: 992px) {
            .header__nav--list li ul {
                width: 160% !important;
            }
        }

        .table-coins__number::before {
            counter-increment: none !important;
            content: none !important;
            font-weight: 400
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/style-critical.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}" media="print"
          onload="this.media='all'; this.onload=null;">
    <link rel="stylesheet" href="{% static 'css/coin_page.css' %}">
    <link rel="stylesheet" href="" id="theme-file" media="all">

    <script>
        var whiteThemeFileUrl = '{% static "css/light-mode.css" %}';

        function updateThemeUrl() {
            if (localStorage.getItem('coinyoyo-theme') === 'dark') {
                document.getElementById('theme-file').href = '';
            } else {
                document.getElementById('theme-file').href = whiteThemeFileUrl;
            }
        }

        updateThemeUrl();
    </script>
    <script>
        document.querySelector('html').style.setProperty("--vh", window.innerHeight * 0.01 + "px");
    </script>
    {% block head %}
    {% endblock %}

    <!-- Google Analytics 4 tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LDRWKZNCKB"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-LDRWKZNCKB');
    </script>
</head>
<body>
<div class="wrapper" style="visibility: hidden; opacity: 0">
    {% include 'include/_header.html' %}

    {% block content %}

    {% endblock %}

    {% include 'include/_footer.html' %}
</div>
<div id="preloader" class="preloader">
    <img alt="Logo" class="logo-preloader">
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var typingTimer; // Таймер для задержки перед выполнением AJAX-запроса
        var doneTypingInterval = 300; // Задержка в миллисекундах

        $('#search-form input[name="q"]').on('keyup', function () {
            clearTimeout(typingTimer); // Сбрасываем предыдущий таймер

            var input = $(this).val();

            if (input.length > 0) {
                typingTimer = setTimeout(function () {
                    $.ajax({
                        url: '{% url "core:search_ajax" %}', // URL для обработки AJAX-запроса
                        type: 'GET',
                        data: {q: input},
                        dataType: 'json',
                        success: function (response) {
                            // Очищаем текущий список результатов
                            $('#coin-list').empty();

                            // Отображаем только первые три результата
                            for (var i = 0; i < 5 && i < response.length; i++) {
                                var coin = response[i];

                                // Добавляем элемент списка
                                var listItem = '<li><a href="' + coin.url + '"><b>' + coin.name + '</b></a>' +
                                    '<button type="button" aria-label="paste">' +
                                    '<svg width="24" height="24" viewBox="0 0 24 24">' +
                                    '<use xlink:href="{% static "img/sprites.svg" %}#arrow-link"></use>' +
                                    '</svg>' +
                                    '</button></li>';

                                $('#coin-list').append(listItem);
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            console.log('AJAX Error: ' + errorThrown);
                        }
                    });
                }, doneTypingInterval);
            }
        });
    });
</script>
<script src="{% static 'js/libs.min.js' %}" defer></script>
<script src="{% static 'js/main.min.js' %}" defer></script>
<!-- <script src="{% static 'js/ajax.js' %}" defer></script> -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% block scripts %}
{% endblock %}



