.d-display {
    display: flex;
    justify-content: center;
    height: fit-content;
    font-family: Commissioner, sans-serif;
    padding: 15px;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.d-display.show {
    max-height: 90vh;
    opacity: 1;
}

.d-details,
details[open],
details summary {
    display: block;
    width: 500px;
}

details summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
    cursor: pointer;
    font-weight: 400;
    position: relative;
    font-size: 20px;
}

details summary:after {
    content: "›";
    font-size: 2rem;
    transition: transform 0.3s;
    transform: rotate(90deg);
    transform-origin: center center;
}

details {
    margin-bottom: 12px;
    height: 4rem;
    transition: height 0.3s ease;
    overflow: hidden;
}

details[open] {
    height: 10rem;
}

details p {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    padding: 1rem;
}

details[open] p {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 768px) {
    details summary {
        font-size: 18px;
    }

    details p {
        font-size: 16px;
    }

    .d-details,
    details[open],
    details summary {
        width: 500px;
    }
}

@media (max-width: 500px) {
    details summary {
        font-size: 16px;
    }

    details p {
        font-size: 14px;
    }

    .d-details,
    details[open],
    details summary {
        width: 100%;
    }
}

